kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: academypeer1-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  selector:
    matchLabels:
      name: academypeer1files
