kind: PersistentVolume
apiVersion: v1
metadata:
  name: studentpeer0-pv
  labels:
    type: local
    name: studentpeer0files
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: /nfs/studentpeer0/var
    server: storage.local.parisi.biz
    readOnly: false
