kind: PersistentVolume
apiVersion: v1
metadata:
  name: server-pv
  labels:
    type: local
    name: serverfiles
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: /nfs/cli/wallet
    server: storage.local.parisi.biz
    readOnly: false
